# Исключение каталогов сборки
bin/
obj/

# Исключение пользовательских файлов
*.user
*.suo

# Исключение папок Visual Studio
.vs/

# Исключение логов и временных файлов
*.log
*.tmp

# Исключение других бинарных файлов
*.dll
*.exe
*.pdb
*.cache
*.bak

# Исключение файлов настройки среды
*.vspscc
*.vssscc